<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <title>{{ title }}</title>

    <link href="{{ asset('styles/bootstrap.min.css') }}" rel="stylesheet" />
    <link href="{{ asset('styles/bootstrap-theme.min.css') }}" rel="stylesheet" />
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h1>{{ title }}</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <table class="table table-bordered table-responsive">
                    <thead>
                        <tr>
                            <th colspan="2">#</th>
                            <th>Shop</th>
                            <th>Code</th>
                            <th>Value</th>
                            <th>Url</th>
                            <th>Valid from</th>
                            <th>Expire date</th>
                            <th>Found</th>
                        </tr>
                    </thead>
                    <tbody id="content-table">
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="10">
                                <button type="button" id="fetch-api" data-fetch-api="{{ fetchApi }}" class="btn btn-primary">Fetch data from API</button>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
    <script src="{{ asset('scripts/jquery-2.1.4.min.js') }}"></script>
    <script src="{{ asset('scripts/bootstrap.min.js') }}"></script>
    <script src="{{ asset('scripts/application.js') }}"></script>
</body>
</html>
